# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/

# Environment
.env

# Testing
.pytest_cache/
.coverage
htmlcov/

# Ruff
.ruff_cache/

# MyPy
.mypy_cache/

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Logs
*.log
logs/